%message {
    font-family: monospace;
    font-size: 18px;
    border: 1px round black;
    padding: 10px;
    margin: 10px;
}

.success {
    @extend %message;
    background-color: lightseagreen;
}

.warning {
    @extend %message;
    background-color: orange;
}

.error {
    @extend %message;
    background-color: salmon;
}
$color: green;

div {
    font-size: 18px;
    
    p{
        color: $color;
    }

    li {
        color: greenyellow;
    }
}